on: [push, pull_request]

jobs:
  kodi-addon-checker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install kodi-addon-checker
      run: |
        pip install kodi-addon-checker
    - name: Run addon checker
      run: |
        kodi-addon-checker --branch matrix .

  autopep8:
    runs-on: ubuntu-latest
    name: autopep8
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Run autopep8
      id: autopep8
      uses: peter-evans/autopep8@v2
      with:
        args: --aggressive --diff --exit-code --experimental --max-line-length 173 --recursive resources/lib
    - name: Fail if autopep8 made changes
      if: steps.autopep8.outputs.exit-code == 2
      run: exit 1

  pylint:
    runs-on: ubuntu-latest
    name: pylint
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Run pylint
      id: pylint
      run: pylint resources/lib